.App {
    font-family: sans-serif;
    text-align: center;
    height: auto;
  }
  
  img {
    max-width: 150px;
    height: 5rem;
    padding: 0 15px;
    object-fit: cover;
  }
  
  img:last-of-type {
    padding-left: 0;
  }
  
  .inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 7rem;
  }
  
  .wrapper {
    position: absolute;
    display: flex;
    z-index: 10;
  }
  
  section {
    display: flex;
    animation: swipe var(--speed) linear infinite backwards;
  }
  
  @keyframes swipe {
    0% {
      transform: translate(0);
    }
  
    100% {
      transform: translate(-100%);
    }
  }
  


.image{
  box-shadow: 4px 5px 4px 3px rgb(66 152 211 / 14%) !important;
  border: 1.7px solid rgb(61 209 216 / 64%) !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  /* height: 100px; */
}